<form #addClienForm="ngForm" (ngSubmit)="ticketDisplay()">
    <label>User ID:</label>
    <input type="number" #BookingUserID="ngModel" name="BookingUserID" [(ngModel)]="ticket.BookingUserID" >
<br/>
<button type="submit" class="btn btn-primary">Print</button>
</form>
<div id="container2">
    <div class="displayContainer">
        <p *ngFor="let m of result">
            PNR Number: {{m.TicketID}}
            <br/>
            Bus ID: {{m.BusID}}
            <br/>
            From Location: {{m.FromLocation}}
            <br/>
            To Location: {{m.ToLocation}}
            <br/>
            From Date: {{m.FromDate}}
            <br/>
            To Date: {{m.ToDate}}
            <br/>
            From Time: {{m.FromTime}}
            <br/>
            To Time: {{m.FromTime}}
            <br/>
            Ticket Booking Status : {{m.TicketBookingStatus}}
            <br/>
            Number of Seats Booked: {{m.NumberOfSeats}}
            <br/>
            Total Fare: {{m.Fare}}
            <br/>
        </p>
    </div>
</div>
