<div class="maincontainer">
<div >
<header>
    <ul class="nav navbar-nav">
        <li><img class="logoImage" src="assets/img/Logo.jpg"></li>
      </ul>
    <h2>Admin Portal</h2>
    <button id="login" class="btn btn-success" routerLink="/adminlogin" >Admin Login</button>
</header>
</div>
<div>
<section>
    <div class="verical-menu">
        <nav class="navbar navbar-dark bg-dark">
            <div class="btn-group-vertical" role="group">
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/home">Home</button> 
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/addbus">Add Bus</button>
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/driveradd">Add Driver</button>
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/addtrip">Add Trip</button>
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/addroute">Add Route</button> 
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/busdetails">Bus Details</button> 
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/driverdetails">Driver Details</button> 
                <br>
                <button class="btn btn-success" style="vertical-align:middle" routerLink="/reports">Reports</button> 
            </div>
        </nav>
    </div>
    <div>
        
    </div>
</section>
</div>
<router-outlet></router-outlet>
</div>
